.checkoutform label {
    font-size: 14px !important;
    font-weight: 600;
}

.checkoutform input {
    font-size: 14px !important;
}

.whatsapp-chat {
    position: fixed;
    bottom: 02% !important;
    left: 02% !important;
}